argcomplete
click
contourpy
cvxpy
cycler
ecos
Flask
fonttools
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
osqp
packaging
Pillow
pipx
pyparsing
python-dateutil
qdldl
scipy
scs
six
userpath
waitress
Werkzeug