# Exclude the IntelliJ configurations

.idea/
.gitignore

# Exlude local configuration files

web-server/config.py
error-logs.txt
venv


# Exclude Python cache

web-server/app/__pycache__/
web-server/app/src/__pycache__/
*__pycache__*

#scripts

scripts/copy_files.sh
